######## General ########
NAMESPACE=huma


######## Postgres ########
HUMA_DB_INSTANCES=1
HUMA_DB_IMAGE_VERSION=18.3
HUMA_DB_STORAGE_SIZE=8Gi
HUMA_DB_DATABASE_NAME=huma_db
HUMA_DB_DATABASE_USER=huma_db_user
HUMA_DB_DATABASE_PASSWORD_SECRET_NAME=huma-db-secret
HUMA_DB_DATABASE_PASSWORD=supersecret
HUMA_DB_RW_DATABASE_URL=postgres://huma_db_user:supersecret@db-rw.huma.svc.cluster.local:5432/huma_db
HUMA_DB_RO_DATABASE_URL=postgres://huma_db_user:supersecret@db-ro.huma.svc.cluster.local:5432/huma_db
HUMA_DB_R_DATABASE_URL=postgres://huma_db_user:supersecret@db-r.huma.svc.cluster.local:5432/huma_db


######## API ########
API_DEPLOYMENT_REPLICAS=1
API_DEPLOYMENT_ARG=api
API_DEPLOYMENT_CONTAINER_NAME=api
API_DEPLOYMENT_CONTAINER_PORT=8000
API_SERVICE_PORT=8000