######## General ########
NAMESPACE=huma


######## DB ########
MONGODB_DATABASE_NAME=huma
MONGODB_USERNAME=huma
MONGODB_PASSWORD=changeme
MONGODB_HOST=mongodb.huma.svc.cluster.local
MONGODB_PORT=27017


######## API ########
API_DEPLOYMENT_REPLICAS=1
API_DEPLOYMENT_ARG=api
API_DEPLOYMENT_CONTAINER_NAME=api
API_DEPLOYMENT_CONTAINER_PORT=8000
API_SERVICE_PORT=8000